<h1>Farm Management</h1>
<p>View and update details of the farm here</p>

<ul>
  <li><%= link_to "Crops", crops_url, class: "btn btn-primary" %></li>
  <li><%= link_to "Products", products_url, class: "btn btn-primary" %></li>
</ul>
