<footer class="bg-success text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <%# <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a> %>

      <!-- Twitter -->
      <%# <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a> %>

      <!-- Portfolio -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.jimreed91.me" role="button"
        ><i class="far fa-id-card"></i
      ></a>

      <!-- Medium -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://medium.com/@jamesreed3050/setting-up-polymorphic-likes-in-rails-7d8be2e01c12" role="button"
        ><i class="fab fa-medium"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn rounded btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jamesreed91/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Jimreed91" role="button"
        ><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Email -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Feel free to drop me an email:
    <a class="text-white" href="mailto:jamesreed3050@gmail.com">jamesreed3050@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
