<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Options
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'View', model, class:'dropdown-item' %></li>
    <li><%= link_to 'Edit', edit_path(model), class:'dropdown-item' %></li>
    <li><%= link_to 'Delete', class:'dropdown-item' %></li>

  </ul>
</div>
