<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> Total Area </th>
      <th scope="col">Total mix Vol.</th>
      <th scope="col">No. of tanks</li>
      <th scope="col">Tank Vol. </li>
    <tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col"><%= @spray_program.total_area.round(2) %></th>
      <th scope="col"><%= @spray_program.total_mix %> L</th>
      <th scope="col"><%= @spray_program.number_of_tanks%> </th>
      <th scope="col"><%= @spray_program.mix_per_tank.round(2) %> L</th>
    </tr>
  </tbody>
</table>
