<h1>Spray Programs</h1>
<p></p>
<ul class="list-inline">
  <%= link_to "Add", new_spray_program_path, class: "btn btn-success" %>
</ul>
<table class="table table-hover table-light border-success">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
     <%= render 'row' %>
   </tbody>
</table>
