<h2>Sprayer Details</h2>

<ul>
  <li>Name: <%= @sprayer.name %></li>
  <li>Rate/ha: <%= @sprayer.capacity %></li>
</ul>

<ul class="list-inline">
  <li><%= link_to "Index", sprayers_url, class: "btn btn-primary"%></li>
 </ul>
