<h1>Homepage</h1>

<p>Hi, nothing here just yet this is really just an experimental toy but if you'd like to test it out...</p>

<ol>
  <li>Create an account and log in </li>
  <li>Add at least one crop, product and sprayer to your farm (preferably a few crops and products)</li>
  <li>Now you should be able to add a new spray program</li>
</ol>

<p>plenty of improvements incoming this is really just a proof of concept, thanks for taking a look</p>
